<section id="presentation2">
<h1> Comptes des autres utilisateurs </h1>
<!-- src/MMI/Jub/GalerieBundle/views/BackOffice/admin.html.twig -->
{{ render(controller("MMIJubGalerieBundle:BackOffice:showUsers")) }}
</section>