<div>
<ul>
{% for ci in cis_tt %}
 <li style="text-transform:capitalize">
 	<a href="{{ path('mmi_jub_galerie_upload_ci_list',{ id: ci.id }) }}"> {{ ci.nomCi }} </a>
 </li>
{% endfor %} 	
</ul>
</div>
