

<form action="{{ url('mmi_jub_galerie_upload')}}" method="post" {{ form_enctype(form) }}> 
    {{ form_widget(form) }}
<!-- src/MMI/Jub/GalerieBundle/views/BackOffice/upload.html.twig -->
    <input type="submit" value="Ajouter" />
</form>